// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$white-50: #ffffff80;

$bgColor: #216be9;
$borderColor: #4936c8;
$primary: #04246b;
$primary-10: #04246b1a;
$primary-25: #04246b40;
$primary-30: #04246b4d;
$primary-40: #04246b80;
$primary-50: #04246b80;
$primary-60: #04246b99;
$primary-75: #04246bbf;
$secondary: #573fdb;
$third: #2d23a3;
$success: #66cc00;
$success-60: #428102;
$danger: #bd1e2d;
$black-25: #00000040;
$black-30: #0000004d;
$black-75: #000000bf;
$light-green: #00ffff;
